<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Let's begin with some hands-on practice exercises**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print the following pattern (use for loop)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

                                            A  
                                            B C  
                                            D E F  
                                            G H I J  
                                            K L M N O  
                                            P Q R S T U

In [22]:
Ascii_value=65
for i in range(6):
    for j in range(i+1):
        print(chr(Ascii_value),end=" ")
        Ascii_value+=1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (use for loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
a=2
product=0
for i in range(1,11):
    product+=2
    print(a,"X",i,"=",product)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [41]:
tuple_1=(10, 4, 6, 9)

tuple_2= (5, 2, 3, 3)
output=[]
for i,j in zip(tuple_1,tuple_2):
    output.append(i//j)
print(tuple(output))

(2, 2, 2, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [31]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] 
[j for i in astro for j in i if len(j)<5]

['sky', 'sun', 'moon', 'star', 'mars']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [32]:
tup=(4, 5, 6)
tup+({'gfg': 1, 'is': 2, 'best': 3},)

(4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [42]:
str1=input("Enter the first string")
str2=input("Enter the second string")
if sorted(str1.lower())==sorted(str2.lower()):
    print('The anagram of', str1,'is',str2)
else:
    print('The anagram of', str1,'is not',str2)

Enter the first stringSILENT
Enter the second stringLISTEN
The anagram of SILENT is LISTEN

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [39]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
s={}
for i,j in fruity.items():
    fruity_new={i.replace(' ',''):j}
    s.update(fruity_new)
print("New dictionary :",s)

New dictionary : {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [29]:
matrix = [[1,2],[3,4],[5,6],[7,8]] 
transpose=[[row[i] for row in matrix]for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to add the cubes of first 5 positive integers (use while loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
sum=0
i=1
while i>=1 and i<=5:
    a=i**3
    sum+=a
    i+=1
print('Addition of  the cubes of first 5 positive integers is',sum)

Addition of  the cubes of first 5 positive integers is 225

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3 (use list comprehension)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
for i in range(5):
    l=[]
    for j in range(1,4):
        l.append(j)
[[j for j in range(1,4)] for i in range(5)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]