<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [3]:
lam_upper=lambda x:x.upper()
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
list(map(lam_upper,lsbool))

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
def height(n):
    nm=[]
    h=[]
    for i in range(1,n+1) :
        nm.append(input("name of the students"))
        h.append(input("height in cm"))
    return dict(zip(nm,h))

In [4]:
student_no=int(input('Enter the no of student'))
height(student_no)

Enter the no of student5
name of the studentsRAM
height in cm164
name of the studentsBALA
height in cm170
name of the studentsJIGU
height in cm167
name of the studentsRAKESH
height in cm165
name of the studentsRAMAN
height in cm160

{'RAM': '164', 'BALA': '170', 'JIGU': '167', 'RAKESH': '165', 'RAMAN': '160'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
dict={'Square':lambda x:x**2, 'Cube':lambda x:x**3,'Squareroot':lambda x:x**0.5,'Double':lambda x:x*2}
l=int(input())
a,b,c,d=dict['Square'](l),dict['Cube'](l),dict['Squareroot'](l),dict['Double'](l)
print(a+b+c+d)

4
90.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [76]:
def sec_upp(x):
    a=[]
    for i in range(5):
        if x[i][1].isupper()==True:
            a.append(x[i])
    print(a)

In [77]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
sec_upp(ls)

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [38]:
def mark_above_40(x):
    if x[1]>40:
        return True

In [39]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)
a=list(zip(tnames,tmarks))
dict(filter(mark_above_40,a))

{'Sharon': 50, 'Jack': 75}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [27]:
lam_weight_onearth=lambda x:round(x*GMoon/GEarth,2)
#Weight of people in kg 
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
#Gravitational force on the Moon
GMoon =1.622
#Gravitational force on the Earth
GEarth =9.81
a=WeightOnEarth.values()
b=WeightOnEarth.keys()
dict(zip(b,list(map(lam_weight_onearth,a))))

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [5]:
from functools import reduce 
given_sets=[[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
set(reduce(lambda x,y:x&y,(set(k) for k in given_sets)))

{3, 8}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
def price_product(n):
    nm=[]
    ps=[]
    for i in range(1,n+1) :
        nm.append(input("item name:"))
        ps.append(input("price:"))
    return dict(zip(nm,ps))

In [3]:
no_of_product=int(input('Enter the no of product:'))
price_product(no_of_product)

Enter the no of product:3
item name:pizza
price:325
item name:burger
price:85
item name:sandwitch
price:125

{'pizza': '325', 'burger': '85', 'sandwitch': '125'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [41]:
def multiply(x,y):
    return x*y
a=16
b=12
multiply(a,b)

192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [1]:
Input_list=[9,8,7,6,5]
from itertools import accumulate
list(accumulate(Input_list,lambda x,y:(x+y)/2))

[9, 8.5, 7.75, 6.875, 5.9375]